.Articles {
  flex: 1;
}

.Articles-like {
  width: 40px;
  height: 28px;
  border-radius: 4px;
  color: var(--green);
  border: 1px solid var(--green);
  cursor: pointer;
  display: flex;
  align-items: center;
}

.Articles-like svg {
  fill: var(--green);
  color: var(--green);
  margin-right: 3px;
}

.Articles-like:hover {
  background-color: var(--green);
  color: #fff;
}

.Articles-like:hover svg {
  fill: #fff;
  color: #fff;
}
