.heart {
  background-color: red;
  display: inline-block;
  height: 15px;
  margin: 0 10px;
  position: relative;
  top: 6px;
  transform: rotate(-45deg);
  width: 15px;
}

.heart:before,
.heart:after {
  content: "";
  background-color: red;
  border-radius: 50%;
  height: 15px;
  position: absolute;
  width: 15px;
}

.heart:before {
  top: -9px;
  left: 0;
}

.heart:after {
  left: 9px;
  top: 0;
}
