.Like {
  border: 1px solid var(--main-color);
  border-radius: 5px;
  display: flex;
  align-items: center;
  height: 20px;
  padding: 5px;
  cursor: pointer;
}

.Like:hover {
  background-color: var(--main-color);
}

.Like > i {
  --size: 6px;
  height: var(--size);
  width: var(--size);
  background-color: var(--main-color);
  display: inline-block;
  margin: 0 10px;
  transform: rotate(-45deg);
  position: relative;
  top: 1px;
  left: -1px;
}

.Like:hover > i {
  background-color: #fff;
}

.Like > i:before,
.Like > i:after {
  height: var(--size);
  background-color: var(--main-color);
  width: var(--size);
  content: '';
  border-radius: 50%;
  position: absolute;
}

.Like:hover > i:before,
.Like:hover > i:after {
  background-color: #fff;
}

.Like > i:before {
  top: -4px;
  left: 0;
}

.Like > i:after {
  left: 4px;
  top: 0;
}

.Like > div {
  color: var(--main-color);
  font-size: 14px;
  margin-right: 5px;
}

.Like:hover > div {
  color: #fff;
}
