.Settings {
  width: 600px;
}

.Settings h1 {
  text-align: center;
}

.Settings p:last-of-type {
  display: flex;
  justify-content: flex-end;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}
