.Sign {
  width: 600px;
  margin: 0 auto;
  text-align: center;
}

.Sign a {
  color: var(--green);
}

.Sign p:last-child {
  text-align: right;
}

.Form input[type='text'],
.Form textarea {
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
  height: 50px;
  width: 100%;
  padding: 5px 20px;
  color: #55595c;
  font-size: 20px;
}

.Form input[type='text']::placeholder,
.Form textarea::placeholder {
  color: #999;
}

.Form textarea {
  height: 100px;
}

.Form input[type='text']:focus,
.Form textarea {
  border-color: #66afe9;
  outline: none;
}

.Form input[type='submit'] {
  --red: #b85c5c;
  border: none;
  color: #fff;
  padding: 15px 23px;
  border-radius: 5px;
  font-size: 18px;
  background-color: var(--green);
  cursor: pointer;
}

.Form input[type='submit']:hover {
  background-color: #449d44;
}

.Form input.danger[type='submit'] {
  background-color: #fff;
  color: var(--red);
  border: 1px solid var(--red);
}

.Form input.danger[type='submit']:hover {
  background-color: var(--red);
  color: #fff;
}
