.Tabs {
  margin: 0;
  margin-bottom: -1px;
  padding: 0;
}

.Tabs li {
  padding: 10px 20px;
  display: inline-block;
  cursor: pointer;
  color: #aaa;
  border-bottom: none;
}

.Tabs li.active {
  color: var(--green);
  border-bottom: 2px solid var(--green);
}
