.sign {
  width: 600px;
  margin: 0 auto;
}

.sign a {
  color: var(--green);
}

.sign p:last-child {
  text-align: right;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
}
