.tabs {
  margin: 0;
  margin-bottom: -1px;
  padding: 0;
}

.tabs a {
  padding: 10px 20px;
  display: inline-block;
  cursor: pointer;
  color: #aaa;
  border-bottom: none;
}

.tabs a:hover {
  color: #555;
}

.tabs .active a {
  color: var(--green);
  border-bottom: 2px solid var(--green);
}
