.App-header {
  display: flex;
  align-items: center;
  padding: 20px;
  height: 30px;
  max-width: 1000px;
}

.App-header li {
  display: inline-block;
  margin-right: 10px;
  color: #999;
}

.App-header h2 {
  flex: 1;
}
