body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #373a3c;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

a:focus {
  text-decoration: underline;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
}
