.Header {
  display: flex;
  align-items: center;
  padding: 20px;
  height: 30px;
  max-width: 1000px;
}

.Header li {
  display: inline-block;
  margin-right: 10px;
  color: #999;
}

.Header h2 {
  flex: 1;
  color: var(--main-color);
}
